* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#name-div,
#welcome {
    color: white;
    background: #e2004b;
    padding: 5px;
    width: 100%;
}

#input-div {
    background: rgb(4, 133, 207);
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 10px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}